<ion-header>
  <ion-toolbar>
    <ion-title>selector</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex">
    <ion-button expand="block" color="primary" routerLink="/create" routerDirection="root" style="width: 33%">
      Crear nuevo
    </ion-button>
    <ion-button expand="block" color="danger" style="width: 33%" routerLink="/list">
      Lista
    </ion-button>
    <ion-button expand="block" color="secondary" style="width: 33%" routerLink="/my-products">
      Mis productos
    </ion-button>
  </div>

<!--  Ejercicio 1-->
  <div>
    <ion-button expand="block" color="dark" routerLink="/filters" routerDirection="root">
      Buscar producto
    </ion-button>
  </div>
<!--  Fin Ejercicio 1-->
</ion-content>
